/* StatusIndicator.module.css */
.statusIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.statusText {
  /* Styles for the status text */
  margin-top: 8px; /* Space between the SVG and text */
  margin-left: 18px; /* Space between the SVG and text */
  font-size: 16px; /* Text size */
  color: #ffffff; /* Text color, change as needed */
  text-transform: capitalize; /* Capitalize the status text */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s linear infinite;
}
